yacht-captain.idx
yacht-captain.lof
yacht-captain.lot
yacht-captain.out
yacht-captain.synctex.gz
yacht-captain.toc
schk-1.pdf
yacht-captain.ilg
yacht-captain.ind
_region_.log
_region_.tex
yacht-captain.dvi
*.aux
*.log
.DS_Store
*.*#
*.*~
.#*
*.bak
