yacht-captain.idx
yacht-captain.aux
yacht-captain.lof
yacht-captain.log
yacht-captain.lot
yacht-captain.out
yacht-captain.synctex.gz
yacht-captain.toc
schk-1.pdf
yacht-captain.ilg
yacht-captain.ind
_region_.log
_region_.tex
yacht-captain.dvi
*.aux
